.products-mobile {
    background-color: rgb(255,255,255) !important;
  }
  .products-mobile a{
    color: red !important;
    font-weight: bold !important;
  }
  .products {
    color: rgb(294, 4, 51) !important;
  }
 .product-container{
      max-width: 1280px;
      margin: 0 auto;
      padding: 5% 0;
  }
  .wraper{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }
  .text-set{
    padding: 2%;
    width: 50%;
  }
  .text-set h2{
   margin-bottom: 2%;
   text-align: center;
   color: rgb(229, 4, 0);
  }
  .text-set p{
    padding-bottom: 5%;
  }
  .text-set ul{
      list-style: none;
  }
  .text-set ul li::before{
      content: "\2022";
      color: red;
      padding-right: 2%;
      font-weight: bold;
  }
  .product-single-slider{
    width: 50%;
    height: auto;
    padding-left: 5%;
}
  .fotorama img{
      pointer-events: none;
  }
  @media screen and (max-width: 700px){
    .wraper{
      width: 100%;
      display: flex; 
  }
    .product-single-slider{
      order:2;
      width: 90%;
      padding-left: unset;
      
  }
  .fotorama__wrap{
    margin: 0 auto;
    padding-left: 10%;
  }
  .text-set{
    order:1;
    padding: 2%;
    width: 100%;
    
  }
  .text-set p{
    width: 80%;
    margin:0 auto;
    padding-bottom: 5%;
  }
  .text-set ul li{
    width: 70%;
    margin: 2% auto;
  
  }
   }
