.contact-us {
    border-top: 4px solid rgb(229, 4, 0);
    padding-bottom: 5%;
  }
  .contact-us h2 {
    padding: 3% 2%;
    text-align: center;
    font-size: 35px;
    color: rgb(229, 4, 0);
  }
  .contact-us form {
    padding: 3% 2%;
    margin: 0 auto;
    width: 35%;
    min-width: 450px;
    height: auto;
    background-color: rgb(229, 4, 0);
    border-radius: 10px;
  }
  
  .input-large {
    display: block;
    width: 70%;
    min-width: 300px;
    border: unset;
    border-radius: 10px;
    margin-left: 14%;
    margin-top: 15px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
    font-style: normal;
  }
  textarea {
    display: block;
    padding: 5px;
    margin: 15px 14%;
    width: 70%;
    height: 150px;
    border-radius: 10px;
    border: unset;
    resize: none;
  }
  input:focus {
    border: 2px solid rgb(130, 130, 130);
    outline: none;
  }
  textarea:focus {
    border: 2px solid rgb(130, 130, 130);
    outline: none;
  }
  ::placeholder {
    color: rgb(229, 4, 0);
    opacity: 0.8;
    font-weight: bold;
  }
  
  :-ms-input-placeholder {
    color: rgb(229, 4, 0);
  }
  
  ::-ms-input-placeholder {
    color: rgb(229, 4, 0);
  }
  form p {
    font-size: 12px;
    color: white;
    margin-left: 14%;
  }
  .submit {
    text-align: center;
    margin-top: 6%;
  }
  input[type="submit"] {
    width: 130px;
    height: 50px;
    text-align: center;
    color: rgb(229, 4, 0);
    border: unset;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
  }
  input[type="submit"]:hover {
    outline: none;
    color: white;
    border: 3px solid whitesmoke;
    background-color: rgb(148, 2, 0);
  }
  .email-send{
    display: none;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-top: 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/email-send.png);
  }
  .social-section{
    width: 100%;
    height: auto;
  }
  .social-section > h2{
    padding-top: 4%;
    padding-bottom: 2%;
  }
  .social-btn {
    margin: 2% auto;
    width: 28%;
    height: 70px;
    background-color: rgb(229, 4, 0);
    color: white;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
  }
  .social-btn:hover {
    width: 30%;
    background-color: rgb(246, 246, 246);
    border: 2px solid rgb(229, 4, 0);
  }
  .social-btn p{
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    transition: 0.5s;
  }
  .social-btn p:hover{
    font-size: 25px;
    color: red;
  }
  @media screen and (max-width: 700px){
    .social-btn{
      width: 90%;
    }
    .social-btn:hover{
      width: 100%;
      
    }
  }
  @media screen and (max-width: 500px) {
 
    .contact-us {
      padding: 4%;
    }
    .red-title {
      padding: 5% 2%;
      text-align: center;
      font-size: 25px;
      color: rgb(229, 4, 0);
    }
    .contact-us form {
      width: 80%;
      min-width: unset;
    }
    .input-large {
      width: 70%;
      min-width: unset;
      margin: 4% auto;
      margin-left: 14%;
    }
    textarea {
      display: block;
      padding: 5px;
      margin: 15px 14%;
      width: 70%;
      height: 150px;
      border-radius: 10px;
      border: unset;
      resize: none;
    }
    .email-send {
      display: none;
      position: relative;
      top: 15px;
      left: 25%;
      width: 50%;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/email-send.png);
    }
    
    
  }