footer {
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/footer.png);
  }
  footer h2 {
    margin-top: 2%;
    text-align: center;
    font-weight: unset;
  }
  footer .footer-up-left {
    float: left;
    width: 50%;
    height: 50%;
  }
  footer p {
    margin-top: 2%;
    text-align: center;
    color: white;
  }
  footer .footer-up-right {
    float: right;
    width: 50%;
    height: 50%;
  }
  
  footer .footer-down-right {
    display: inline-block;
    width: 50%;
    height: 50%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-image: url(images/copyright.png);
  }
  footer .footer-down-left {
    overflow: hidden;
    float: left;
    width: 50%;
    height: 50%;
  }
  .down-left-wraper {
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }
  footer .footer-down-left p {
    display: inline-block;
    line-height: 125px;
    margin-top: 2%;
    color: rgb(128, 128, 128);
  }
  .rs-logo {
    display: inline-block;
    transform: translateY(15px);
    width: 45px;
    height: 45px;
    margin-left: 5%;
    cursor: pointer;
  }
  .inst-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/inst-gray.png);
  }
  .face-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/face-gray.png);
  }
  @media screen and (max-width: 800px) {
    footer {
        width: 100%;
        height: auto;
        background-image: unset;
      }
      footer .footer-up-left {
        float: none;
        width: 100%;
        height: 50%;
        background-color: gray;
      }
    
      footer .footer-up-right {
        width: 100%;
        height: 50%;
        background-color: gray;
        position: relative;
        top: 0;
      }
    
      footer .footer-down-right {
        width: 100%;
        height: 50px;
        background-position: center;
        background-size: 60%;
        background-color: white;
      }
    
      footer .footer-down-left {
        overflow: hidden;
        float: left;
        width: 100%;
        height: 50%;
        background-color: white;
      }
      .down-left-wraper {
        width: 100%;
      }
      footer .footer-down-left p {
        margin-left: 25%;
      }
      .rs-logo {
        display: inline-block;
        transform: translateY(15px);
        width: 45px;
        height: 45px;
        margin-left: 5%;
        cursor: pointer;
      }
      .inst-logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .face-logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
  }
  @media screen and (max-width: 500px) {
    footer .footer-down-left p {
        margin-left: 15%;
      }
  }